body {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center; /* vertikal */
  height: 100vh;
  margin: 0;
}

.container-wrapper {
  border-radius: 0.5cm;
  background-color: rgb(97, 151, 97);
  padding: 15px 5px;
  width: 400px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.label-wrapper {
  background-color: white;
  height: 70px;
  width: 332px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.result {
  font-size: xx-large;
  font-weight: bold;
  text-align: center;
}

.inner-div {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-bottom: 5px;
}

.numberField-container {
  text-align: center;
}

.button {
  font-size: 2em;
  background-color: rgb(184, 184, 184);
  width: 80px;
  height: 60px;
}
.button {
  font-size: 2em;
  background-color: rgb(184, 184, 184);
  width: 80px;
  height: 60px;
}
#zeroBtn {
  width: 250px;
}

.button:hover {
  cursor: pointer;
  background-color: gray;
}
